@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* cursor: none; */
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: none;
  background-color: #000000;
}

body::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

.trcircle {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background: rgba(255, 255, 255, 0.468);
  border-radius: 50%;
  filter: blur(100px);
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;
  z-index: 999999999999;
}

.follower {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  filter: blur(60px);
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;
  z-index: 9999999;
}

main {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 1rem;
  background-color: #000000;
}
/* Responsive images */

img {
  max-width: 100%;
  height: auto;
}

/* Basic heading styles */

h1,
h2,
h3,
h4,
h5,
h6 {
  /* margin-bottom: 1rem; */
  font-weight: bold;
  text-decoration: none;
}

h6 a {
  text-decoration: none;
  color: inherit;
  width: max-content;
  position: relative;
  cursor: pointer;
}

h6 a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: white;
  transition: width 0.3s ease;
}

h6 a:hover::after {
  width: 100%;
}
/* Nav Section */

#herosection {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-image: url(finalhero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* position: relative; */
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 900px; */
  padding: 15px 1rem;
  color: white;
  text-decoration: none;
  z-index: 9999999; /* Lower z-index than trcircle */
}

.navr {
  word-spacing: 50px;
}

.navr h6 {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
}

/* Hero Content */

.herocontent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10rem;
  padding: 0 3rem;
  width: 60%;
  height: 100%; /* Take full height of parent */
  margin-top: 50vh; /* Push down by half of viewport height */
  transform: translateY(-50%); /* Pull back up by half of its own height */
}

.herotext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  padding: 1rem;
  line-height: 1px;
  position: relative;
  text-align: flex-start;
}

.herotext h4 {
  font-size: clamp(1rem, calc(3vw + 1rem), 2rem);
  margin-bottom: 15px;
  font-family: 'Inter', serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.herotext h3 {
  font-size: clamp(1rem, calc(5vw + 1rem), 4rem);
  font-family: 'Playfair Display', serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin-top: -20px;
  white-space: nowrap;
}

.herotext h6 {
  font-size: clamp(0.5rem, calc(2vw + 1rem), 2rem);
  font-family: 'Anonymous Pro', serif;
  font-weight: 400;
  font-style: normal;
  margin-top: -10px;
  text-align: flex-start;
}

.herotext h6 span {
  color: red;
}

@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

/* button */

.button {
  padding: 20px 25px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  z-index: 1;
}

.button::after,
.button::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
  cursor: none;
}

.button::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0.5rem;
}

@keyframes appear {
  0% {
    opacity: 0;
    scale: 0.5;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

/* About Section */

#aboutsection {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10rem;
  height: 100vh;
  width: 100%;
  background-image: url(aboutimg1.jpg);
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 3rem;
  position: relative;
}

.tlcircle {
  position: absolute;
  top: 20%;
  right: -10%;
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.468);
  border-radius: 50%;
  filter: blur(100px);
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;
}

.infocards {
  height: 100%;
  width: 30%;
}

.infocards .age {
  width: fit-content;
  color: white;
  font-family: 'Inter', serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.068);
  backdrop-filter: blur(10px);
  z-index: 999999999;
  border-radius: 10px;
  position: absolute;
  top: 70%;
  left: 0%;
  transition: all 0.7s ease;
  animation: float 6s ease-in-out infinite;
  border: 0.8px solid red;
}

.infocards .location {
  width: fit-content;
  color: white;
  font-family: 'Inter', serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.068);
  backdrop-filter: blur(10px);
  z-index: 999999999;
  border-radius: 10px;
  position: absolute;
  top: 20%;
  left: 20%;
  animation: float 6s ease-in-out infinite;
  animation-delay: 1s;
  transition: all 0.7s ease;
  border: 0.8px solid red;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.infocards .location:hover,
.infocards .age:hover {
  color: red;
  border: 1px solid white;
}

.aboutcontent {
  width: 60%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  align-items: flex-start;
  padding: 3rem;
  background-color: rgba(255, 255, 255, 0.068);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.189);
  border-right: 1px solid rgba(255, 255, 255, 0.144);
  line-height: 1px;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

.aboutcontent h1 {
  font-size: clamp(1rem, calc(3vw + 1rem), 2rem);
  margin-bottom: 15px;
  font-family: 'Inter', serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.aboutcontent h6 {
  font-size: 1.2rem;
  font-family: 'Anonymous Pro', serif;
  font-weight: 400;
  font-style: normal;
}

.aboutcontent h6 span {
  color: red;
}

/* Skill Section */

#skillsection {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  position: relative;
  z-index: 1;
}

.skills {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  /* object-fit: contain; */
  position: relative;
  top: 10%;
  background-color: rgba(255, 255, 255, 0.068);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.189);
  border-right: 1px solid rgba(255, 255, 255, 0.144);
  z-index: 999999999;
  /* overflow: hidden; */
}

.box1,
.box2 {
  height: 100%;
  width: 45%;
  padding: 40px 0px;
}

#skillsection h2 {
  color: white;
  font-size: 3rem;
  font-family: 'Inter', serif;
  /* font-optical-sizing: auto; */
  font-weight: 300;
  font-style: normal;
  width: 30%;
  /* position: absolute;
  top: 10%;
  left: 5%;
  margin: 0; */
}

#skillsection h1 {
  color: white;
  font-size: 3rem;
  font-family: 'Inter', serif;
  /* font-optical-sizing: auto; */
  font-weight: 400;
  font-style: normal;
  width: 30%;
  position: absolute;
  top: 15%;
  left: 5%;
  margin: 0;
  text-transform: uppercase;
}

.progress-bar-container:not(:last-child) {
  margin-bottom: 50px;
}

@keyframes left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.progress-bar-container h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #eee;
  letter-spacing: 1px;
  font-size: 20px;
}

.progress-bar-container {
  width: 90%;
  height: fit-content;
}

.progress-bar {
  width: 100%;
  height: 5px;
  margin-top: 10px;
  border: 1px solid #565656;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.314);
}

@keyframes load {
  from {
    width: 0%;
  }
}

.percentage {
  display: block;
  height: 100%;
  background-color: red;
  border-radius: 5px;
  width: 0;
  animation: load 1500ms linear;

  animation-fill-mode: forwards;
  /* animation-iteration-count: infinite; */
}

.box2 .progress-bar-container {
  animation: left linear;
  animation-timeline: view();
  animation-range: entry 0 cover 25%;
}

.box1 .progress-bar-container {
  animation: right linear;
  animation-timeline: view();
  animation-range: entry 0 cover 25%;
}

.c {
  width: 40%;
}

.java {
  width: 70%;
}

.python {
  width: 70%;
}

.html {
  width: 90%;
}

.css {
  width: 85%;
}

.javascript {
  width: 75%;
}

/* Project Section */

#projectsection {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  padding: 0 3rem;
  position: relative;
  z-index: 1;
}

#projectsection .headingsec {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 20rem;
  position: absolute;
  top: 10%;
  z-index: 999999999;
}

#projectsection .headingsec p {
  font-size: clamp(0.5rem, calc(2vw + 1rem), 1.2rem);
  font-family: 'Anonymous Pro', serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 20px;
  text-align: center;
}

#projectsection h1 {
  height: 15vh;
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: 'Inter', serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  /* width: 30%; */
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.projectcontent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 3rem;
  position: absolute;
  top: 25%;
}

.projectcontent .coll1,
.projectcontent .coll2 {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.coll1 {
  border-bottom: 1px solid white;
}

.coll1 .contentbox {
  height: 35vh;
  width: 30vw;
  background-color: rgba(255, 255, 255, 0.068);
  backdrop-filter: blur(10px);
  z-index: 9999999;
  animation: right linear;
  animation-timeline: view();
  animation-range: entry 0 cover 25%;
}

@keyframes appearm {
  0% {
    opacity: 0;
    /* scale: 0.5; */
  }
  100% {
    opacity: 1;
    /* scale: 1; */
  }
}

.coll1 .pimagebox {
  height: 35vh;
  width: 30vw;
  background-color: white;
  animation: right linear;
  animation-timeline: view();
  animation-range: entry 0 cover 25%;
}

.coll2 .contentbox {
  height: 35vh;
  width: 30vw;
  background-color: rgba(255, 255, 255, 0.068);
  backdrop-filter: blur(10px);
  z-index: 9999999;
  animation: right linear;
  animation-timeline: view();
  animation-range: entry 0 cover 25%;
}

.coll2 .pimagebox {
  height: 35vh;
  width: 30vw;
  background-color: white;
  animation: right linear;
  animation-timeline: view();
  animation-range: entry 0 cover 25%;
}

/* projects card content */

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 64px;
  height: 64px;
  position: relative;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.loader:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  transform: rotate(45deg) translate(30%, 40%);
  background: #ff9371;
  box-shadow: 32px -34px 0 5px #ff3d00;
  animation: slide 2s infinite ease-in-out alternate;
}

.loader:after {
  content: '';
  position: absolute;
  left: 10px;
  top: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ff3d00;
  transform: rotate(0deg);
  transform-origin: 35px 145px;
  animation: rotate 2s infinite ease-in-out;
}

@keyframes slide {
  0%,
  100% {
    bottom: -35px;
  }

  25%,
  75% {
    bottom: -2px;
  }

  20%,
  80% {
    bottom: 2px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-15deg);
  }

  25%,
  75% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(25deg);
  }
}

/* Contact Section */

#contactsection {
  color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  padding: 0 3rem;
  position: relative;
  z-index: 1;
}

.contactcontent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactform {
  margin: 0;
  width: 50%;
  height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 0.5rem;
  /* background-color: rgba(255, 255, 255, 0.068);
  backdrop-filter: blur(10px); */
  z-index: 999999999;
}

.contactform input {
  width: 100%;
  height: 10%;
  border: none;
  border-bottom: 0.5px solid red;
  background-color: transparent;
  /* border-radius: 5px; */
}

.contactform textarea {
  border: 0.5px solid red;
  background-color: transparent;
  /* border-radius: 5px; */
}
.contactform h6 {
  font-size: 1rem;
  font-family: 'Anonymous Pro', serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: center;
}

::placeholder {
  padding-left: 5px;
  font-size: small;
  text-transform: uppercase;
  font-family: 'Inter', serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.footerinfo {
  /* background-color: rgba(255, 255, 255, 0.233); */
  height: 100%;
  width: 100%;
  padding: 1rem 1rem;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.footerinfo h1 {
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: 'Inter', serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  transition: all 0.3s ease;
}

.footerinfo h1:hover {
  color: red;
  transform: translatex(15px);
  transition: all 0.3s ease;
  letter-spacing: 5px;
}

.footerinfo .works {
  text-transform: uppercase;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  gap: 10px;
  align-items: flex-start;
  margin: 0;
}

.footerinfo p {
  font-size: 1rem;
  font-family: 'Anonymous Pro', serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 5px;
  text-align: flex-start;
}

/* Social Media Section */

.footerinfo h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: 'Inter', serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.card {
  width: fit-content;
  height: max-content;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 20px;
  border: none;
  background-color: transparent;
}

.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128c7e;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.footer {
  font-family: 'Anonymous Pro', serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 20px;
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 1rem;
  color: white;
  text-decoration: none;
  z-index: 9999999; /* Lower z-index than trcircle */
}



input{
  color:white;
}
